.sidebar {
  background-color: #152259;
}
​ span {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  color: aliceblue;
}
button {
  background-color: #1d2e77;
  border-radius: 5px;
  color: antiquewhite;
}
.btn0 {
  margin-left: 4%;
  margin-top: 1%;
  margin-right: 4%;
}
.btn1 {
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.btn2 {
  margin-left: 4%;
  margin-right: 4%;
}
.btn3 {
 margin: 4%;
}
.btn4 {
  margin-left: 4%;
  margin-right: 4%;
}
.btn5 {
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.btn6 {
  margin-left: 4%;
  margin-right: 4%;
}
.btn7 {
  margin: 4%;
}
​ .logouticon {
  color: aliceblue;
  padding-right: 5px;
}
.srslogo {
  width: 85px;
  height: 100px;
  display: flex;
  margin-left: 35%;
  margin-top: 5%;
}
.srs {
  width: fit-content;
  color: rgb(12, 13, 13);
  padding: 8%;
  font-size: 100%;
  margin-left: 8%;
  color: antiquewhite;
}
.class{
   padding-right: 10%;
}
