.hometext {
  color: #424242;
  margin-left: 5%;
  margin-top: 7%;
}
.homemain {
  margin-top: 7%;
  margin-left: 5%;
  color: #424242;
}
.a {
  color: #424242;
  padding-left: 2%;
}
.b {
  color: #424242;
  padding-left: 2%;
}
.c {
  color: #424242;
  padding-left: 2%;
}
​ .d {
  padding-left: 4%;
}
.e {
  padding-left: 4%;
}
.f {
  padding-left: 4%;
}
